<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/form">Form</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <h1>Registration Form</h1>
    <form action="/register" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your name"> <br> <br>
        <input type="text" name="age" id="age" placeholder="Enter your age"> <br> <br>
        <input type="text" name="school" id="scholl" placeholder="Enter your school name"> <br> <br>
        <input type="text" name="fahtersName" id="fahtersName" placeholder="Enter your Father's Name"><br> <br>
        <input type="text" name="mothersName" id="mothersName" placeholder="Enter your Mother's Name"> <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>